extends ./layout

block content
    .jumbotron
        .container
            h3 Восстановление пароля
            p Для восстановления пароля нажмите, пожалуйста, на ссылку
            p
                a.btn.btn-primary.btn-lg(href=link, role='button') Восстановить пароль
